{% load static %}
{% load parse_iso %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Newsapp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
  
  <!-- Topbar -->
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <b>NEWS</b>
      </a>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    </div>
  </nav>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li> 
          <!-- Topbar Search -->
          <div style="margin: 20px;">
          <form action="" method="get">
          <div class="input-group">
            <input type="text" class="search-bar" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2" name="query">
                <button type="submit" class="search-button">
                    <i class="bi bi-search"></i>
                </button>
          </div>
          </form>
          </div>
          </li>
          <li><a href="{% url 'home' %}?category=general" class="nav-link"><i class="bi bi-newspaper"></i> <span>general</span></a></li>
          <li><a href="{% url 'home' %}?category=science" class="nav-link"><i class="bx bx-home"></i> <span>science</span></a></li>
          <li><a href="{% url 'home' %}?category=technology" class="nav-link"><i class="bi bi-cpu"></i> <span>Technology</span></a></li>
          <li><a href="{% url 'home' %}?category=Health" class="nav-link"><i class="bi bi-suit-heart"></i></i> <span>Health</span></a></li>
          <li><a href="{% url 'home' %}?category=sports" class="nav-link"><i class="bi bi-bicycle"></i> <span>Sports</span></a></li>
          <li><a href="{% url 'home' %}?category=business" class="nav-link"><i class="bi bi-building"></i> <span>Business</span></a></li>
          <li><a href="{% url 'home' %}?category=entertainment" class="nav-link"><i class="bi bi-tv"></i> <span>Entertainment</span></a></li>
        </ul>
      </nav>
      <!-- nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">
    <!-- ======= weather Section ======= -->
      <div class="container">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="container-fluid px-1 px-md-4 py-5 mx-auto">
                <div class="row d-flex justify-content-center px-3">
                    <div class="card-1">
                        <div style="margin:20px auto">
                          <form action="" method="get">
                          <div class="input-group">
                          <input type="text" class="search-bar" placeholder="Search for location"
                              aria-label="Search" aria-describedby="basic-addon2" name="location">
                              <button type="submit" class="search-button">
                                  <i class="bi bi-search"></i>
                              </button>
                          </div>
                          </form>
                        </div>
                        <h2 class="ml-auto mr-4 mt-3 mb-0">{{report.city}}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{report.description}}</p>
                        <h1 class="ml-auto mr-4 large-font">{{report.temperature|floatformat:2}}&#176;C</h1>
                        <p class="time-font mb-0 ml-4 mt-auto">{{time}}<span class="sm-font"> {{time_p}}</span></p>
                        <p class="ml-4 mb-4">{{day}} {{date}}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
 
    <!-- End weather Section -->

    <!-- ======= news Section ======= -->
    <section class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up" data-aos-delay="100">
          <h2>{{category}}</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        {% for article in headlines.articles %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="card" style="width:22rem; margin: auto; height:450px;">
                  <img class="card-img-top" src="{{article.urlToImage}}" alt="Card image cap" height="250px" width="250px">
                  <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    
                    <div>{{article.publishedAt|parse_iso|date:'d/m/Y'}}</div>
                    <div>{{article.source.name}}</div>
                  </div>
                    <a href="{{article.url}}" class="btn-grad">Read more</a>
                </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>
    <!-- End news Section -->



  </main><!-- End #main -->
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
  </footer><!-- End  Footer -->
</body>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>